body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mid-size {
  width: 50%;
}

.card-hover:hover {
  background-color: #efefef;
  transition: background-color 0.75 ease;
  cursor: pointer;
}

.input-hover:hover {
  border: 1px solid;
  border-radius: 2px;
}